{% extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<article class="post featured">
  <header class="">
    <h2>Nous contacter</h2>
  </header>
  <div>
    <p>
    La méthode la plus simple pour nous contacter est encore de <a href="https://discord.gg/jYj3VKTVzC">nous rejoindre sur Discord !</a>
    </p>
    <p>
    Si toutefois vous ne souhaitez pas nous rejoindre mais que vous avez besoin de nous contacter, vous pouvez toujours envoyer un email à <a href="mailto:contact@club-jdr.fr">contact@club-jdr.fr</a>.
    </p>
    <p>
    Si vous rencontrez des bugs sur ce site, vous pouvez créer une issue sur <a href="https://github.com/notsag/club-jdr.fr/issues">github</a>.
    </p>
  </div>
</article>
{% endblock %}
