{% extends "layout.html" %}
{% block title %}Liens utiles{% endblock %}
{% block content %}
<article class="post featured">
  <header class="">
    <h2>Liens utiles</h2>
  </header>
  <div>
    <p>
    Cette section contient une liste de liens utiles vers du contenu, des outils, des créateurs ou des boutiques que nous utilisons dans le cadre de nos parties de jeu de rôle.
    Le Club JDR n'est afilié à aucune entreprise ou personne listée ci-dessous.
    </p>
  </div>
</article>
<section class="posts-line">
  <article>
    <header>
      <h3>Boutiques, aides de jeu et contenu</h3>
    </header>
    <div class="row">
      <div class="col-4 col-12-small">
        <h4>Générique</h4>
        <ul>
          <li><a href="https://www.fantasynamegenerators.com/">Fantasy Name Generator</a></li>
          <li><a href="https://www.scenariotheque.org/">La Scénariothèque</a> (contenu)</li>
          <li><a href="https://www.drivethrurpg.com/">Drivethru RPG</a> (contenu)</li>
          <li><a href="https://www.black-book-editions.fr/">Black Book Edition</a> (boutique)</li>
          <li><a href="https://2minutetabletop.com/">2-Minute Tabletop</a> (maps)</li>
        </ul>
      </div>
      <div class="col-4 col-12-small">
        <h4>D&D 5E</h4>
        <ul>
          <li><a href="https://notsag.github.io/dnd5e-quickref/quickref.html">Actions et États dans D&D 5E</a> (aide de jeu)</li>
          <li><a href="https://www.aidedd.org/">AideDD</a> (aides de jeu)</li>
          <li><a href="https://www.sageadvice.eu/">Sage Advice</a> (réponses des designers du jeu anglais)</li>
          <li><a href="https://5e.tools/">5E tools</a> (aides de jeu anglais)</li>
          <li><a href="https://dmsguild.com">DM's Guild</a> (contenu gratuit/payant)</li>
          <li><a href="https://dmdave.com">DM Dave</a> (contenu gratuit/payant)</li>
        </ul>
      </div>
      <div class="col-4 col-12-small">
        <h4>Cthulhu</h4>
        <ul>
          <li><a href="https://www.tentacules.net/index.php">Trouver Objet Caché</a> (contenu)</li>
          <li><a href="https://www.dholeshouse.org/">The Dhole's House</a> (aides de jeu anglais)</li>
        </ul>
      </div>
    </div>
  </article>
  <article>
    <header>
      <h3>Logiciels</h3>
    </header>
    <div class="row">
      <div class="col-4 col-12-small">
        <h4>Virtual TableTop</h4>
        <ul>
          <li><a href="https://roll20.net/">Roll20</a></li>
          <li><a href="https://foundryvtt.com/">Foundry</a></li>
          <li><a href="https://www.astraltabletop.com/">Astral Tabletop</a></li>
          <li><a href="https://lets-role.com/">Let's Role</a></li>
        </ul>
      </div>
      <div class="col-4 col-12-small">
        <h4>Maps</h4>
        <ul>
          <li><a href="https://deepnight.net/tools/rpg-map/">RPG MAP Editor 2</a> (online, gratuit)</li>
          <li><a href="https://davesmapper.com/">Dave's Mapper</a> (online, gratuit)</li>
          <li><a href="https://dungeondraft.net/">DungeonDraft</a> (logiciel, payant)</li>
          <li><a href="https://inkarnate.com/">Inkarnate</a> (online, gratuit/payant)</li>
        </ul>
      </div>
      <div class="col-4 col-12-small">
        <h4>Autres</h4>
        <ul>
          <li><a href="http://rolladvantage.com/tokenstamp/">TokStamp</a> (tokens)</li>
          <li><a href="https://syrinscape.com/">Syrinscape</a> (sons/ambiance)</li>
        </ul>
      </div>
    </div>
  </article>
  <article>
    <header>
      <h3>Chaines Youtube</h3>
    </header>
    <div class="row">
      <div class="col-4 col-12-small">
        <h4>Actual Play</h4>
        <ul>
          <li><a href="https://www.youtube.com/channel/UCevpJGPLUMNykHlc2q6V2Mg">Les aliénés de Cthulhu</a></li>
          <li><a href="https://www.youtube.com/channel/UCLklqggxR3UaYiJFiaSi7Ig">Rôle'n Play</a></li>
          <li><a href="https://www.youtube.com/channel/UCFTi_fJ8X6ty5Uh4m4H39gg">Grimoires & Tentacules</a></li>
          <li><a href="https://www.youtube.com/channel/UCpXBGqwsBkpvcYjsJBQ7LEQ">Critical Role</a> (anglais)</li>
        </ul>
      </div>
      <div class="col-4 col-12-small">
        <h4>Astuces & Actus</h4>
        <ul>
          <li><a href="https://www.youtube.com/channel/UCbM4Z7OzdBTip4fvMHvwG6A">Rôliste TV</a></li>
          <li><a href="https://www.youtube.com/channel/UCKZ4TrxiMVjetmNVWbs15hQ">Jeu de Rôle Passion</a></li>
        </ul>
      </div>
    </div>
  </article>
</section>
{% endblock %}
